
{% extends 'index.html'%}
{%load static%}   
{% block body%}
   
   
   <div class="body-overlay"></div>          
      
      <!-- main-area -->
      <main>

         <!-- breadcrumb-area -->
         <section class="breadcrumb__area pt-100 pb-120 breadcrumb__overlay">
            <div class="container">
               <div class="row align-items-center">
                  <div class="col-xl-7 col-lg-12 col-md-12 col-12">
                     <div class="tp-breadcrumb">
                        <h2 class="tp-breadcrumb__title">About us</h2>
                     </div>
                  </div>
                  <div class="col-xl-5 col-lg-12 col-md-12 col-12">

                  </div>
               </div>
            </div>
         </section>
         <!-- breadcrumb-area-end -->

         <!-- about-area -->
         <section class="about-area pt-130 pb-70">
            <div class="container">
               <div class="row">
                  <div class="col-xl-6 col-lg-12 col-12">
                     <div class="about-thumb text-lg-center p-relative ml-85 mb-60 wow fadeInLeft" data-wow-delay=".3s">
                        <img src="{%static 'assets/img/about/about.png' %}" alt="about-thumb">
                        <div class="about-thumb-shape d-none d-md-block">
                           <img src="{%static 'assets/img/about/abt.png' %}" alt="about-shape">
                        </div>
                     </div>
                  </div>
                  <div class="col-xl-6 col-lg-8 col-12">
                     <div class="about-content about-align mb-60 wow fadeInRight" data-wow-delay=".3s">
                        <div class="tp-section">
                           <h3 class="tp-section__title ab-title mb-25">We’ll Ensure You Alwasy Get Best Results.</h3>
                           <a class="tp-section__link" href="#">Read our MIssion & Vission <i class="fa-solid fa-arrow-right"></i></a>
                           <p class=" mr-20 mb-40"> Founded in 2018, our Microbiology Lab is dedicated to pioneering biosciences through specialized media plates. Our mission is to provide researchers with essential tools, fostering breakthroughs in understanding microorganisms' mysteries. As a pivotal driving force, we envision shaping microbiological research, delivering quality plates that empower exploration, leading to insights into microbial life's applications for human health, the environment, and biotechnology. Our commitment lies in advancing scientific knowledge, catalyzing innovation, and contributing significantly to the progress and betterment of global bioscience endeavors.</p>
                        </div>
                        <div class="tp-about__info-list ab-check-list mb-55">
                           <ul>
                              <li><i class="fa-solid fa-check"></i>Extramural Funding</li>
                              <li><i class="fa-solid fa-check"></i>Bacteria Markers</li>
                              <li><i class="fa-solid fa-check"></i>Nam nec mi euismod euismod</li>
                              <li><i class="fa-solid fa-check"></i>In aliquet dui nec lectus</li>
                           </ul>
                        </div>
                        <div class="about-content__btn"><a href="about.html" class="tp-btn">About us</a></div>
                     </div>
                  </div>
               </div>
            </div>
         </section>
         <!-- about-area-end -->


         
         <!-- services-area -->
         <section class="services-area pt-120 pb-90 grey-bg" data-background="assets/img/shape/shape-bg-01.png">
            <div class="container">
               <div class="row">
                  <div class="col-lg-12 col-md-12 col-12">
                     <div class="tp-section">
                        <span class="tp-section__sub-title left-line right-line mb-20">Here We</span>
                        <h3 class="tp-section__title mb-70">Core Values</h3>
                     </div>
                  </div>
               </div>
               <div class="row">
                  <div class="col-xl-4 col-md-6">
                     <div class="services-item mb-40 wow fadeInUp" data-wow-delay=".2s">
                        <div class="services-item__icon mb-30">
                           <i class="flaticon-hemoglobin-test-meter"></i>
                        </div>
                        <div class="services-item__content">
                           <h4 class="services-item__tp-title tp-srv-title mb-30"><a href="services-details.html">Quality</a></h4>
                           <p> We unwaveringly pursue excellence across our endeavors, ensuring top-notch standards in every facet.</p>
                           <!-- <div class="services-item__btn">
                              <a class="btn-hexa" href="services-01.html"><i></i>Read More</a>
                           </div> -->
                        </div>
                     </div>
                  </div>
                  <div class="col-xl-4 col-md-6">
                     <div class="services-item mb-40 wow fadeInUp" data-wow-delay=".4s">
                        <div class="services-item__icon pink-icon mb-30">
                           <i class="flaticon-blood-test"></i>
                        </div>
                        <div class="services-item__content">
                           <h4 class="services-item__tp-title tp-srv-title mb-30"><a href="services-details.html">Mission</a></h4>
                           <p>We lead biosciences by producing cutting-edge media plates, facilitating breakthroughs in microbial understanding</p>
                           <!-- <div class="services-item__btn">
                              <a class="btn-hexa pink-hexa" href="services-01.html"><i></i>Read More</a>
                           </div> -->
                        </div>
                     </div>
                  </div>
                  <div class="col-xl-4 col-md-6">
                     <div class="services-item mb-40 wow fadeInUp" data-wow-delay=".6s">
                        <div class="services-item__icon green-icon mb-30">
                           <i class="flaticon-biochemistry"></i>
                        </div>
                        <div class="services-item__content">
                           <h4 class="services-item__tp-title tp-srv-title mb-30"><a href="services-details.html">Clarity</a></h4>
                           <p>We prioritize transparent and precise communication, fostering understanding and collaboration within the scientific community for impactful progress</p>
                           <!-- <div class="services-item__btn">
                              <a class="btn-hexa green-hexa" href="services-01.html"><i></i>Read More</a>
                           </div> -->
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </section>
         <!-- services-area-end -->

         
         <!-- counter-area -->
         <section class="counter-area pt-70 pb-80">
            <div class="container">
               <div class="row mb-5">
                  <div class="col-12">
                     <div class="tp-section">
                        <!-- <span class="tp-section__sub-title left-line mb-20">At Glance</span> -->
                        <h3 class="tp-section__title mb-30">LifeScience At a Glance....</h3>
                     </div>
                  </div>
               </div>
               <div class="row">
                  <div class="col-xl-3 col-md-6">
                     <div class="counter__item">
                        <div class="counter__icon mb-15">
                        </div>
                        <div class="counter__content">
                           <h4 class="counter__title"><span class="">1500+</span></h4>
                           <h5>Animal Free & Media bases</h5>
                        </div>
                     </div>
                  </div>
                  <div class="col-xl-3 col-md-6">
                     <div class="counter__item">
                        <div class="counter__icon mb-15">
                        </div>
                        <div class="counter__content">
                           <h4 class="counter__title"><span class="">20+</span></h4>
                           <h5>ready prepared plates
                              per year</h5>
                        </div>
                     </div>
                  </div>
                  <div class="col-xl-3 col-md-6">
                     <div class="counter__item">
                        <div class="counter__icon mb-15">
                        </div>
                        <div class="counter__content">
                           <h4 class="counter__title"><span class="">800+</span></h4>
                           <h5>Antimicrobial susceptibility
                              </h5>
                        </div>
                     </div>
                  </div>
                  <div class="col-xl-3 col-md-6">
                     <div class="counter__item">
                        <div class="counter__icon mb-15">
                        </div>
                        <div class="counter__content">
                           <h4 class="counter__title"><span class="">1500+</span></h4>
                           <h5>Animal Free & Media bases</h5>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </section>
         <!-- counter-area-end -->  


         <!-- team-area -->
         <section class="team-area grey-bg pt-120 pb-80" data-background="assets/img/shape/shape-bg-01.png">
            <div class="container wow fadeInUp" data-wow-delay=".3s">
               <div class="row align-items-center">
                  <div class="col-lg-8 col-md-8 col-12">
                     <div class="tp-section">
                        <span class="tp-section__sub-title left-line mb-25">Our Team</span>
                        <h3 class="tp-section__title mb-75">Meet Leaders</h3>
                     </div>
                  </div>
                  <div class="col-lg-4 col-md-4 col-12">
                     <div class="tp-team-arrow d-flex align-items-center">
                        <div class="team-p"><i class="fa-regular fa-arrow-left"></i></div>
                        <div class="team-n"><i class="fa-regular fa-arrow-right"></i></div>
                     </div>
                  </div>
               </div>
               <div class="swiper-container team-active">
                  <div class="swiper-wrapper">
                     <div class="swiper-slide">
                        <div class="tp-team mb-50">
                           <div class="tp-team__thumb fix">
                              <a href="team-details.html"><img src="{% static 'assets/img/team/team-thumb-01.jpg' %}" alt="team-thumb"></a>
                           </div>
                           <div class="tp-team__content">
                              <h4 class="tp-team__title mb-15"><a href="team-details.html">Cameron Williamson</a></h4>
                              <span class="tp-team__position mb-30">Genetic Specialist</span>
                              <p>Providing insight-driven transformation to investment banks, wealth and asset mana, exchanges, Finance </p>
                              <div class="tp-team__social">
                                 <a class="tp-youtube" href="#"><i class="fa-brands fa-youtube"></i></a>
                                 <a class="tp-twitter" href="#"><i class="fa-brands fa-twitter"></i></a>
                                 <a class="tp-fb" href="#"><i class="fa-brands fa-facebook-f"></i></a>
                                 <a class="tp-skype" href="#"><i class="fa-brands fa-skype"></i></a>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="swiper-slide">
                        <div class="tp-team mb-50">
                           <div class="tp-team__thumb fix">
                              <a href="team-details.html"><img src="{% static 'assets/img/team/team-thumb-02.jpg' %}" alt="team-thumb"></a>
                           </div>
                           <div class="tp-team__content">
                              <h4 class="tp-team__title mb-15"><a href="team-details.html">Savannah Nguyen</a></h4>
                              <span class="tp-team__position mb-30">Neuro Specialist</span>
                              <p>Providing insight-driven transformation to investment banks, wealth and asset mana, exchanges, Finance </p>
                              <div class="tp-team__social">
                                 <a class="tp-youtube" href="#"><i class="fa-brands fa-youtube"></i></a>
                                 <a class="tp-twitter" href="#"><i class="fa-brands fa-twitter"></i></a>
                                 <a class="tp-fb" href="#"><i class="fa-brands fa-facebook-f"></i></a>
                                 <a class="tp-skype" href="#"><i class="fa-brands fa-skype"></i></a>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="swiper-slide">
                        <div class="tp-team mb-50">
                           <div class="tp-team__thumb fix">
                              <a href="team-details.html"><img src="{% static 'assets/img/team/team-thumb-03.jpg' %}" alt="team-thumb"></a>
                           </div>
                           <div class="tp-team__content">
                              <h4 class="tp-team__title mb-15"><a href="team-details.html">Darlene Robertson</a></h4>
                              <span class="tp-team__position mb-30">gynecology Specialist</span>
                              <p>Providing insight-driven transformation to investment banks, wealth and asset mana, exchanges, Finance </p>
                              <div class="tp-team__social">
                                 <a class="tp-youtube" href="#"><i class="fa-brands fa-youtube"></i></a>
                                 <a class="tp-twitter" href="#"><i class="fa-brands fa-twitter"></i></a>
                                 <a class="tp-fb" href="#"><i class="fa-brands fa-facebook-f"></i></a>
                                 <a class="tp-skype" href="#"><i class="fa-brands fa-skype"></i></a>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="swiper-slide">
                        <div class="tp-team mb-50">
                           <div class="tp-team__thumb fix">
                              <a href="team-details.html"><img src="{% static 'assets/img/team/team-thumb-04.jpg' %}" alt="team-thumb"></a>
                           </div>
                           <div class="tp-team__content">
                              <h4 class="tp-team__title mb-15"><a href="team-details.html">Jhon Methweu</a></h4>
                              <span class="tp-team__position mb-30">Pediatric Specialist</span>
                              <p>Providing insight-driven transformation to investment banks, wealth and asset mana, exchanges, Finance </p>
                              <div class="tp-team__social">
                                 <a class="tp-youtube" href="#"><i class="fa-brands fa-youtube"></i></a>
                                 <a class="tp-twitter" href="#"><i class="fa-brands fa-twitter"></i></a>
                                 <a class="tp-fb" href="#"><i class="fa-brands fa-facebook-f"></i></a>
                                 <a class="tp-skype" href="#"><i class="fa-brands fa-skype"></i></a>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </section>
         <!-- team-area-end -->


      </main>
      <!-- main-area-end -->
      
{%endblock%}