

{% extends 'index.html'%}
{%load static%}   
{% block body%}


      <div class="body-overlay"></div>            
      
      
      <!-- main-area -->
      <main>

         <!-- breadcrumb-area -->
         <section class="breadcrumb__area pt-100 pb-120 breadcrumb__overlay">
            <div class="container">
               <div class="row align-items-center">
                  <div class="col-xl-7 col-lg-12 col-md-12 col-12">
                     <div class="tp-breadcrumb">
                        <h2 class="tp-breadcrumb__title">Product</h2>
                     </div>
                  </div>
                  <div class="col-xl-5 col-lg-12 col-md-12 col-12">
                     <div class="tp-breadcrumb__link text-xl-end">
                     </div>
                  </div>
               </div>
            </div>
         </section>



         <!-- breadcrumb-area-end -->

         <!-- shope-area -->
         <div class="shop-area pt-120 pb-130">
            <div class="container">
               <div class="row">
                  <div class="col-xl-3 col-lg-4 col-md-4">
                     <div class="tpshopitem mb-50 wow fadeInUp" data-wow-delay=".2s">
                        <div class="tpshopitem__thumb p-relative fix mb-35">
                           <a href="#"><img src="{% static 'assets/img/home/product.png'%}" alt="shop-thumb"></a>
                        </div>
                        <div class="tpshopitem__content text-center">
                           <span class="tpshopitem__title mb-5"><a href="shop-details.html">Blood Agar5% SB (Plate)</a></span>
                           <p>1X20(Pack)</p>
                           <div class="tpshopitem__review">
                              <i class="fa-solid fa-star"></i>
                              <i class="fa-solid fa-star"></i>
                              <i class="fa-solid fa-star"></i>
                              <i class="fa-solid fa-star"></i>
                              <i class="fa-regular fa-star"></i>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-xl-3 col-lg-4 col-md-4">
                     <div class="tpshopitem mb-50 wow fadeInUp" data-wow-delay=".4s">
                        <div class="tpshopitem__thumb p-relative fix mb-35">
                           <a href="#"><img src="{% static 'assets/img/home/product.png'%}" alt="shop-thumb"></a>

                        </div>
                        <div class="tpshopitem__content text-center">
                           <span class="tpshopitem__title mb-5"><a href="shop-details.html">Chocolate Agar(Plate)</a></span>
                           <p>1X20(Pack) </p>
                           <div class="tpshopitem__review">
                              <i class="fa-solid fa-star"></i>
                              <i class="fa-solid fa-star"></i>
                              <i class="fa-solid fa-star"></i>
                              <i class="fa-solid fa-star"></i>
                              <i class="fa-regular fa-star"></i>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-xl-3 col-lg-4 col-md-4">
                     <div class="tpshopitem mb-50 wow fadeInUp" data-wow-delay=".6s">
                        <div class="tpshopitem__thumb p-relative fix p-relative mb-35">
                           <a href="#"><img src="{% static 'assets/img/home/product.png'%}" alt="shop-thumb"></a>
                        </div>
                        <div class="tpshopitem__content text-center">
                           <span class="tpshopitem__title mb-5"><a href="shop-details.html">C.L.E.D. AGAR (Plate)</a></span>
                           <p>1X20(Pack) </p>
                           <div class="tpshopitem__review">
                              <i class="fa-regular fa-star"></i>
                              <i class="fa-regular fa-star"></i>
                              <i class="fa-regular fa-star"></i>
                              <i class="fa-regular fa-star"></i>
                              <i class="fa-regular fa-star"></i>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-xl-3 col-lg-4 col-md-4">
                     <div class="tpshopitem mb-50 wow fadeInUp" data-wow-delay=".8s">
                        <div class="tpshopitem__thumb p-relative fix p-relative mb-35">
                           <a href="#"><img src="{% static 'assets/img/home/product.png'%}" alt="shop-thumb"></a>
                        </div>
                        <div class="tpshopitem__content text-center">
                           <span class="tpshopitem__title mb-5"><a href="shop-details.html">Brucella Agar 5% SB Hemin Vit K1 (Plate)</a></span>
                           <p>1X20(Pack)</p>
                           <div class="tpshopitem__review">
                              <i class="fa-solid fa-star"></i>
                              <i class="fa-solid fa-star"></i>
                              <i class="fa-solid fa-star"></i>
                              <i class="fa-solid fa-star"></i>
                              <i class="fa-regular fa-star"></i>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-xl-3 col-lg-4 col-md-4">
                     <div class="tpshopitem mb-50 wow fadeInUp" data-wow-delay=".2s">
                        <div class="tpshopitem__thumb p-relative fix mb-35">
                           <a href="#"><img src="{% static 'assets/img/home/product.png'%}" alt="shop-thumb"></a>
                        </div>
                        <div class="tpshopitem__content text-center">
                           <span class="tpshopitem__title mb-5"><a href="shop-details.html">MACCONKEY AGAR (Plate)</a></span>
                           <p>1X20(Pack)</p>
                           <div class="tpshopitem__review">
                              <i class="fa-solid fa-star"></i>
                              <i class="fa-solid fa-star"></i>
                              <i class="fa-solid fa-star"></i>
                              <i class="fa-solid fa-star"></i>
                              <i class="fa-regular fa-star"></i>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-xl-3 col-lg-4 col-md-4">
                     <div class="tpshopitem mb-50 wow fadeInUp" data-wow-delay=".4s">
                        <div class="tpshopitem__thumb p-relative fix mb-35">
                           <a href="#"><img src="{% static 'assets/img/home/product.png'%}" alt="shop-thumb"></a>
                        </div>
                        <div class="tpshopitem__content text-center">
                           <span class="tpshopitem__title mb-5"><a href="shop-details.html">MULLER HINTON AGAR (Plate)</a></span>
                           <p>1X20(Pack) </p>
                           <div class="tpshopitem__review">
                              <i class="fa-solid fa-star"></i>
                              <i class="fa-solid fa-star"></i>
                              <i class="fa-solid fa-star"></i>
                              <i class="fa-solid fa-star"></i>
                              <i class="fa-regular fa-star"></i>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-xl-3 col-lg-4 col-md-4">
                     <div class="tpshopitem mb-50 wow fadeInUp" data-wow-delay=".6s">
                        <div class="tpshopitem__thumb p-relative fix mb-35">
                           <a href="#"><img src="{% static 'assets/img/home/product.png'%}" alt="shop-thumb"></a>
                        </div>
                        <div class="tpshopitem__content text-center">
                           <span class="tpshopitem__title mb-5"><a href="shop-details.html">SABROAUD DEXTROSE AGAR (Plate) </a></span>
                           <p>1X10(Pack)</p>
                           <div class="tpshopitem__review">
                              <i class="fa-regular fa-star"></i>
                              <i class="fa-regular fa-star"></i>
                              <i class="fa-regular fa-star"></i>
                              <i class="fa-regular fa-star"></i>
                              <i class="fa-regular fa-star"></i>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-xl-3 col-lg-4 col-md-4">
                     <div class="tpshopitem mb-50 wow fadeInUp" data-wow-delay=".8s">
                        <div class="tpshopitem__thumb p-relative fix mb-35">
                           <a href="#"><img src="{% static 'assets/img/home/product.png'%}" alt="shop-thumb"></a>
                        </div>
                        <div class="tpshopitem__content text-center">
                           <span class="tpshopitem__title mb-5"><a href="shop-details.html">SABROAUD DEXTROSE with Chloramphenicol
                              AGAR (Plate)
                              </a></span>
                           <p>1X20(Pack)</p>
                           <div class="tpshopitem__review">
                              <i class="fa-solid fa-star"></i>
                              <i class="fa-solid fa-star"></i>
                              <i class="fa-solid fa-star"></i>
                              <i class="fa-solid fa-star"></i>
                              <i class="fa-regular fa-star"></i>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-xl-3 col-lg-4 col-md-4">
                     <div class="tpshopitem mb-50 wow fadeInUp" data-wow-delay=".2s">
                        <div class="tpshopitem__thumb p-relative fix mb-35">
                           <a href="#"><img src="{% static 'assets/img/home/product.png'%}" alt="shop-thumb"></a>
                        </div>
                        <div class="tpshopitem__content text-center">
                           <span class="tpshopitem__title mb-5"><a href="shop-details.html">TCBS AGAR (Plate)</a></span>
                           <p>1X20(Pack)</p>
                           <div class="tpshopitem__review">
                              <i class="fa-solid fa-star"></i>
                              <i class="fa-solid fa-star"></i>
                              <i class="fa-solid fa-star"></i>
                              <i class="fa-solid fa-star"></i>
                              <i class="fa-regular fa-star"></i>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-xl-3 col-lg-4 col-md-4">
                     <div class="tpshopitem mb-50 wow fadeInUp" data-wow-delay=".4s">
                        <div class="tpshopitem__thumb p-relative fix mb-35">
                           <a href="#"><img src="{% static 'assets/img/home/product.png'%}" alt="shop-thumb"></a>
                        </div>
                        <div class="tpshopitem__content text-center">
                           <span class="tpshopitem__title mb-5"><a href="shop-details.html">XYLDSE LYSINE DEOXYCHOLATE AGAR (Plate)</a></span>
                           <p>Size 1X20(Pack)</p>
                           <div class="tpshopitem__review">
                              <i class="fa-solid fa-star"></i>
                              <i class="fa-solid fa-star"></i>
                              <i class="fa-solid fa-star"></i>
                              <i class="fa-solid fa-star"></i>
                              <i class="fa-regular fa-star"></i>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-xl-3 col-lg-4 col-md-4">
                     <div class="tpshopitem mb-50 wow fadeInUp" data-wow-delay=".6s">
                        <div class="tpshopitem__thumb p-relative fix mb-35">
                           <a href="#"><img src="{% static 'assets/img/home/product.png'%}" alt="shop-thumb"></a>
                        </div>
                        <div class="tpshopitem__content text-center">
                           <span class="tpshopitem__title mb-5"><a href="shop-details.html">BRAIN HEART INFUSION BROTH (Tube)</a></span>
                           <p>1X10(Pack)</p>
                           <div class="tpshopitem__review">
                              <i class="fa-regular fa-star"></i>
                              <i class="fa-regular fa-star"></i>
                              <i class="fa-regular fa-star"></i>
                              <i class="fa-regular fa-star"></i>
                              <i class="fa-regular fa-star"></i>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-xl-3 col-lg-4 col-md-4">
                     <div class="tpshopitem mb-50 wow fadeInUp" data-wow-delay=".8s">
                        <div class="tpshopitem__thumb p-relative fix mb-35">
                           <a href="#"><img src="{% static 'assets/img/home/product.png'%}" alt="shop-thumb"></a>
                        </div>
                        <div class="tpshopitem__content text-center">
                           <span class="tpshopitem__title mb-5"><a href="shop-details.html">UTI AGAR ((Chrom agar orientation Plate) </a></span>
                           <p>1X 20(Pack)</p>
                           <div class="tpshopitem__review">
                              <i class="fa-solid fa-star"></i>
                              <i class="fa-solid fa-star"></i>
                              <i class="fa-solid fa-star"></i>
                              <i class="fa-solid fa-star"></i>
                              <i class="fa-regular fa-star"></i>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="row">
                  <div class="col-12">
                     <div class="basic-pagination text-center mt-15">
                        <nav>
                           <ul>
                              <li>
                                 <a href="shop-details.html">
                                    <i class="fa-light fa-arrow-left-long"></i>
                                 </a>
                              </li>
                              <li>
                                 <a href="#">1</a>
                              </li>
                              <li>
                                 <span class="current">2</span>
                              </li>
                              <li>
                                 <a href="#">3</a>
                              </li>
                              <li>
                                 <a href="#l">...</a>
                              </li>
                              <li>
                                 <a href="#">
                                    <i class="fa-light fa-arrow-right-long"></i>
                                 </a>
                              </li>
                           </ul>
                        </nav>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <!-- shope-area-end -->

      </main>
      <!-- main-area-end -->

      {%endblock%}